{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row">
                {% include 'admin_menu.html' %}
                <div class="col-8">
                    <div class="card">
                        <div class="card-header">Add New Episode</div>
                        <div class="card-body">
                            <!-- show form control message -->
                            {% if form.title.errors %}
                                {% for error in form.title.errors %}
                                    <div class="alert alert-danger" >{{ error }}</div>
                                {% endfor %}    
                            {% endif %}
                            {% if form.number.errors %}
                                {% for error in form.number.errors %}
                                    <div class="alert alert-danger" >{{ error }}</div>
                                {% endfor %}    
                            {% endif %}
                            <!-- show flash message -->
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category,message in messages %}
                                        <div class="alert alert-{{ category }}">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <form action="{{url_for('edit_episode')}}?id={{episode.id}}" method="post"  novalidate>
                                {{ form.csrf_token }}
                                <div class="form-group mb-3 " >
                                    {{form.title(placeholder='Enter Title', class='form-control', value=episode.title)}}
                                </div>
                                <div class="form-group mb-3 " >
                                    <textarea class="form-control" name="content">{{ episode.content }}</textarea>
                                </div>
                                <div class="form-group mb-3 " >
                                    {{form.number(placeholder='Enter Number Of Episode', class='form-control', value=episode.number)}}
                                </div>
                                <div class="form-group mb-3">
                                    <select name="course_id" class="form-control" >
                                            {% for course in courses %}
                                                <option value="{{course.id}}">{{course.title}}</option>
                                            {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group mb-3 " >
                                    <button class="btn btn-small btn-success w-100" >Update Episode</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}