{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row">
                {% include 'admin_menu.html' %}
                <div class="col-8">
                    <div class="card">
                        <div class="card-header">Add New Course</div>
                        <div class="card-body">
                            <!-- show form control message -->
                            {% if form.title.errors %}
                                {% for error in form.title.errors %}
                                    <div class="alert alert-danger" >{{ error }}</div>
                                {% endfor %}    
                            {% endif %}
                            <!-- show flash message -->
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category,message in messages %}
                                        <div class="alert alert-{{ category }}">{{ message }}</div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <form action="{{url_for('edit_course')}}?id={{course.id}}" method="post"  enctype="multipart/form-data" novalidate>
                                {{ form.csrf_token }}
                                <div class="form-group mb-3 " >
                                    {{form.title(placeholder='Enter Course Title', class='form-control', value=course.title)}}
                                </div>
                                <div class="form-group mb-3 " >
                                    <textarea class="form-control" name="content">{{ course.content }}</textarea>
                                </div>
                                <div class="form-group mb-3 " >
                                    <input type="text" name = 'price' value="{{course.price}}" placeholder="Enter Price" class="form-control">
                                </div>
                                <div class="form-group mb-3 " >
                                    <input type="file" name = 'pic' class="form-control">
                                </div>
                                <div class="form-group mb-3 " >
                                    <button class="btn btn-small btn-success w-100" >Update Course Info</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}